<div class="row">
    <div class="twelve columns" ></div>
    <form-new-crawl new-crawl-to-click="$ctrl.newSearch(url)"></form-new-crawl>
</div>
<div class="row">
    <div class="twelve columns" >
        <p>Si aún no ha hecho ninguna búsqueda, le mostramos las últimas guardadas en el servidor.</p>
        <p>Puede hacer click en cualquier url de la lista para buscar sus enlaces</p>
    </div>
</div>
<div class="row">
    <div class="twelve-columns">
        <div ng-show="$ctrl.errorMessage" class="error-message">
            {{$ctrl.errorMessage}}
        </div>
    </div>
    <div class="twelve columns">
        <ul>
            <li ng-repeat="url in $ctrl.urls" class="four columns url-items">
                <div class="link-view">
                    <div class="url-title">{{ url.title }}</div>
                    <div class="url-uri" title="Busque enlaces en esta url">
                        <div ng-click="$ctrl.newSearch(url.link)">
                            {{ url.link }} 
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>